.dtree {
	FONT-SIZE: 11px; COLOR: #666; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap
}
.dtree IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.dtree A {
	COLOR: #333; TEXT-DECORATION: none
}
.dtree A.node {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; WHITE-SPACE: nowrap
}
.dtree A.nodeSel {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; WHITE-SPACE: nowrap
}
.dtree A.node:hover {
	COLOR: #333; TEXT-DECORATION: underline
}
.dtree A.nodeSel:hover {
	COLOR: #333; TEXT-DECORATION: underline
}
.dtree A.nodeSel {
	BACKGROUND-COLOR: #c0d2ec
}
.dtree .clip {
	OVERFLOW: hidden
}
a:link {
	color: #000000;
}
a:visited {
	color: #424142;
}
a:hover {
	color: #000000;
}
a:active {
	color: #FF0000;
}