﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="documentuploadself.aspx.cs" Inherits="BasicWeb.admin.document.documentuploadself" %>


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>文件更名</title>

		<link href="../style/default/style.css" rel="stylesheet" type="text/css" />
<base target="_self" />
    <script language="javascript" src="/admin/js/System.js" type="text/javascript"></script>

			<script language="javascript" src="js/0451skyMyDocument.js"></script>
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server" enctype="multipart/form-data"><div id="tbMain">
          <div class="divTbg">
            <div class="divTbgL"></div>
            <div class="divTbgInfo">
              <div class="divTbgTitle">
																<div>文件上传</div>
															</div>
            </div>
          </div>
          <div class="divTbgF"></div>
          <div id="mypanel">
            <div class="divInfo" id="ddiv1">
              
              <div class="divInfoContext">
                <table width="100%" border="0" align="center" cellPadding="5" cellSpacing="1" class="tablist">
<tr class="MeNewTDLine">
											<td width="100" align="center" class="tablisttitle">文件选择</td>
											<td align="left" bgcolor="#FFFFFF" class="tablisttrleft">
												
												  <asp:FileUpload ID="FileUpload1" runat="server" class="textblur" style="width: 200px;" onFocus="this.className='textfocus'"/>
                                                                            
                                                                               
                                                                   
												
												</td>
										</tr>
										</table>
              </div>
            </div>
          </div>
          <div class="divSave"> <asp:Button ID="BtnUpBig" runat="server" Text="文件上传" ToolTip="确定文件上传" class="SkyButtonBlur"
                                                                       
                                                                        OnClick="BtnUpBig_Click" ></asp:Button></div>
        </div>
        <asp:Literal ID="Literal1" runat="server"></asp:Literal>
			</form>
	</body>
</HTML>
