﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="documentindex.aspx.cs" Inherits="BasicWeb.admin.document.documentindex" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
	<head>

		<title>我的文档</title>
		<script language="javascript" src="js/0451skyMyDocument.js"></script>
	</head>
	<frameset cols="180,*" frameborder="NO" border="0" framespacing="0" id="allFrame">
		<frame src="DocumentLeft.aspx" name="leftFrame" id="leftFrame" scrolling="NO" noresize>
		<frame src="DocumentList.aspx?path=" name="maininfo" id="maininfo">
	</frameset>
	<noframes>
		<body>
		</body>
	</noframes>
</html>