

.navPoint { 
COLOR: white; CURSOR: hand; FONT-FAMILY: Webdings; FONT-SIZE: 9pt 
}


.divTbg {
	background-image: url(images/right_03.gif);
	height: 26px;
	width: 100%;
}
.divTbgF {
	background-image: url(images/right_09.gif);
	height: 6px;
	width: 100%;
	background-repeat: repeat;
	font-size: 2px;
	line-height: 2px;
}
.divTbgL {
	width: 20px;
	height: 26px;
	float:left;
}
.divTbgInfo {
	background:url(images/right_061.gif);
	border-left:solid 1px #10637b;
	border-top:solid 1px #10637b;
	border-right:solid 1px #10637b;
	float:left;
	height: 23px;
	font-size: 12px;
	line-height: 23px;
	margin-top: 3px;
	padding-right: 10px;
	padding-left: 10px;
}
.divTbgTitle {
	background-image: url(images/TopDot.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	font-size: 12px;
	color: #FFFFFF;
}
.divTNavBG {
	background-image: url(images/right_10.gif);
	background-repeat: repeat;
	height: 25px;
	width: 100%;
	border-top:solid 1px #b2cdd2;
	border-bottom:solid 1px #b2cdd2;
	font-size: 12px;
	line-height: 25px;
}
#topURL {
	background-image: url(images/right_10.gif);
	width: 100%;
	background-repeat: repeat;
	height: 25px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-top:solid 1px #b2cdd2;
	border-bottom:solid 1px #b2cdd2
}
#topURL UL {
	list-style:none; margin:0 auto;
	font-size: 12px;
	line-height: 25px;
	padding: 0px;
	height: 25px;
}
#topURL UL LI {
	font-size: 12px;
	float: left;
	width: 100px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 24px;
!important;
	line-height: 24px;
!important;
	height: 24px;
	line-height: 24px;
	list-style:none;	
}
#topURL UL LI div{
	vertical-align:bottom;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	display: block;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
	overflow: hidden;
}
#topURL UL LI div img {
	
}
/*标签效果*/
.divURLed {
	background-image: url(images/naved.gif);
	background-repeat: repeat;
	font-size: 12px;
	line-height: 25px;
	margin: 0px;
	padding: 0px;
	height: 25px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #98b1c0;
	border-top-width: 0px;
	border-left-width: 1px;
	border-left-color: #98b1c0;
	cursor:hand;
}
.divURLon {
	background-image: url(images/navon.gif);
	background-repeat: repeat;
	font-size: 12px;
	line-height: 25px;
	margin: 0px;
	padding: 0px;
	height: 25px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #98b1c0;
	border-top-width: 0px;
	border-left-width: 1px;
	border-left-color: #98b1c0;
	cursor:hand;
}
.divURLdefault {
	background-image: url(images/navdefault.gif);
	background-repeat: repeat;
	font-size: 12px;
	line-height: 25px;
	margin: 0px;
	padding: 0px;
	height: 25px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #98b1c0;
	border-top-width: 0px;
	border-left-width: 1px;
	border-left-color: #98b1c0;
	cursor:hand;
}
.spanH {
	font-size: 12px;
	line-height: 24px;
	height: 24px;
	padding-top: 10px;
	margin-top: 10px;
}
.divInfo
{
	border: 0px solid #D5D4D4;
	margin: 5px;
	padding: 0px;
}
.divInfoTop
{
	background-image: url(tab/images/bg.gif);
	background-repeat: repeat;
	height: 25px;
	text-align: left;
	text-indent: 2px;
	line-height: 25px;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D5D4D4;
	font-weight: bold;
}

.divInfoContext
{
	font-size: 12px;
	line-height: 25px;
}



.divInfoRight
{
	font-size: 12px;
	line-height: 25px;
	text-align: right;
}
.OwerStyle {
	border: 1px dashed #666666;
}

/*文本框提示*/

.skyInputRed {
	border: 1px solid #FF0000;
}
.skyInputNormal {
	border: 1px solid #D6D3CE;
}

/*智能提示*/
.divyes {
	border: 1px solid #FFCC00;
	font-size: 12px;
	line-height: 22px;
	color: #000000;
	background-color: #FFFFDD;
	background-image: url(images/yes.gif);
	background-repeat: no-repeat;
	background-position: left top;
	text-indent: 25px;
}
.divno {
	border: 1px solid #FF3300;
	background-color: #FFF1E4;
	font-size: 12px;
	line-height: 22px;
	color: #000000;
	background-image: url(images/no.gif);
	background-repeat: no-repeat;
	background-position: left top;
	text-indent: 25px;
}
.divdefault
{
	font-size: 12px;
	line-height: 22px;
	color: #000000;
	text-indent: 25px;
}






div#UpdateProgress1 {
	position:absolute; 
	width:180px; 
	height:70px; 
	left:50%; 
	top:50%; 
	z-index:1; 
	background-color:#fff;
	border:2px solid #ccc;
	margin-left:-90px; 
	margin-top:-32px 

}

.divInfoTopList
{
	background-image: url(images/bg0.gif);
	background-repeat: repeat;
}



.tabmanagertr select
{
	width:200px;
}
.tabmanagertr input
{
	width:200px;
	border: solid 1px #7aaebd;
	height:20px;
}
.tabmanagertr textarea
{
	width:200px;
	border: solid 1px #7aaebd;
}
.tabmanagertr select
{
	width:208px;
	border: solid 1px #7aaebd;
}


.divyesadmin {
	font-size: 12px;
	line-height: 22px;
	color: #000000;
	background-color: #FFFFDD;
	display: inline;
	background-image: url(dot/yesbg.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.divnoadmin {
	border: 1px solid #FF3300;
!important;
	background-color: #FFF1E4;
	font-size: 12px;
	line-height: 22px;
	color: #000000;
	background-image: url(dot/errorbg.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}