﻿.downleft {
	background-image: url(images/main_71.gif);
	background-color: #ADD2DA;
	background-repeat: no-repeat;
	background-position: left;
}
.downcenter {
	background-image: url(images/main_72.gif);
}
.downright {
	background-image: url(images/main_74.gif);
}

