﻿.TopStyle4 {
	font-size: 12px;
	color: #435255;
}
.TopStyle5 {font-size: 12px}
.TopStyle6 {font-size: 12px; font-weight: bold; }
.left1
{
	background-image: url(images/left_top.jpg);

	background-repeat: no-repeat;
	background-position: left;
	height:40px;
}

.leftgndh{
	font-size:14px;
	line-height:25px;
	color:#FFFFFF;
	font-weight: bold;
	padding-left:35px;
	font-family: "微软雅黑";
}