﻿.TopStyle1 {
	font-size: 12px;
	color: #000000;
}
.TopStyle2 {font-size: 12}
.TopStyle3 {font-size: 12px; color: #FFFFFF; }

.TopStyle3 div a {font-size: 12px; color: #FFFFFF;text-decoration: none; }
.TopStyle3 div a:hover {font-size: 12px; color: #FF0000;text-decoration: none; }

.topurldiv{
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/top_dot.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	width: 70px;

	float:left;
	text-align: center;
}
.topurllink{
	font-size: 13px;
	color: #E9F2F7;
	text-decoration: none;
	font-weight: bold;
	font-family: "微软雅黑";
}
.topurllink:hover{color: #ff0000;}
.topuser{
	color: #ffffff;
	font-size: 13px;
	line-height:25px;
	padding-left:70px;
	font-weight: bold;
	font-family: "微软雅黑";
}
.toplogo{
	background-image: url(images/top_logo.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	width: 330px;
}
.topright{
	background-image: url(images/top_right.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	width: 250px;
}
.wtable2014 {
    width:100%;
    min-width:1004px;
    width:expression_r(document.body.clientWidth < 1004 ? "1004px": "auto" );
}