﻿.showuser {
	height: 150px;
	width: 120px;
	margin-left: -8px;
	padding-left: 0px;
}

.showuserbg {
	height: 164px;
	width: 150px;
	margin-left: 5px;
	margin-top:0px;
	padding-left: 0px;
	background-image: url(new/bg_webStyle.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.showuserone
{
    width:170px; float:left;
}
.showallwidth
{
   width:850px;  margin:5px 5px 5px 5px;
   
}
.pjdatestrstyle{ color:#000000; padding-right:10px;}



.pjSelect{ width:40px;}
.pjSelfTextBox{ width:300px; height:40px;}
.autowidthSelect{ width:60px;}
.autowidthInput{ width:60px;}

.tableprocess
{
	BORDER-RIGHT: #104a7b 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #104a7b 1px solid; 
    padding-left : 0px; PADDING-BOTTOM: 1px; BORDER-LEFT: #104a7b 1px solid; PADDING-TOP: 1px;
                            BORDER-BOTTOM: #104a7b 1px solid; width:100px; height:6px; line-height:6px;
}
.tableprocess td,.tableprocess tr{height:6px; line-height:6px;}
.tableprocessno{width:100px;  color:Black; text-align:left; height:0px; line-height:0px;}


.fColorRed{ color:#ff0000;}
.fColorBlue{ color:#0000ff;}
.fColorGreen{ color:#00ff00;}

.fontred{ color:#FF0000;}
.fontgreen{ color:#00FF00;}
.fontgray{ color:#000000;}

.analysis_table_chart{ padding-top:5px;}
.analysis_table_chart_gdi{width:100%;}
.analysis_table_department{padding-right:5px; width:166px;}


.divAutoHeight
{
	border: 1px solid #a8c7ce;
	margin:0px;
	padding:0px;
	overflow:auto;
}

.divRadCheck input {
	width:14px;
	height:14px!important;
	margin:0px;!important;
	padding:0px;!important;
	border: 0px none #009999;
}

#chkFunction{ text-align:left;}
#chkFunction tr td{ text-align:left; width:120px;}


.fontred{ color:#FF0000;}
.fontgreen{ color:#00FF00;}
.fontgray{ color:#000000;}
.fontblue{ color:#0000ff;}

.sFileOpr1{color:#00FF00; font-weight:normal;}
.sFileOpr2{color:#FF0000;font-weight:normal;}
.sFileOpr3{color:#000000;font-weight:normal;}

.IsSystem0{
	background-color:#CCCCCC;
}

.usHelpMessage{line-height:25px; padding-left:20px; font-size:12px; color:Red;}

.usHelpMessage .rptlink{font-size:12px; color:Red;}