﻿@import url(styletop.css);
@import url(styledown.css);
@import url(styleleft.css);
@import url(styleright.css);
@import url(stylemanager.css);
@import url(stylesearch.css);
@import url(styleother.css);

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
}

#btnEdit{ width:82px;}
#btnLtoR,#btnRtoL{ width:50px;}