﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="uscenter.aspx.cs" Inherits="BasicWeb.admin.uscenter" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow:hidden;
}
.wtable2014 {
width:100%;
min-width:1004px;
width:expression_r(document.body.clientWidth < 1004 ? "1004px": "auto" );
}
-->
</style></head>

<body>
<table class="wtable2014" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="0"></td>
    <td width="170" valign="top"><iframe height="100%" width="100%" border="0" frameborder="0" src="usleft.aspx"></iframe></td>
    <td width="0" bgcolor="#B7D5DF"></td>
    <td valign="top"><iframe height="100%" width="100%"  name="main" id="main"  border="0" frameborder="0" src="usindex.aspx"></iframe></td>
    <td width="0"></td>
  </tr>
</table>
</body>
</html>
