﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="usdefault.aspx.cs" Inherits="BasicWeb.admin.usdefault" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%=AppConfig.sSoftName +"-"+ AppConfig.sSoftCompanyName%></title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow:hidden;
}
-->
</style>
<script language="javascript">if(self!=top){top.location=self.location;}</script>
</head>

<frameset rows="88,*,0" frameborder="no" border="0" framespacing="0">
  <frame src="ustop.aspx" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" />
  <frame src="uscenter.aspx" name="mainFrame" id="mainFrame" />
  <frame src="usdown.aspx" name="bottomFrame" scrolling="No" noresize="noresize" id="bottomFrame" />
</frameset>
<noframes><body>
</body>
</noframes></html>
