﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="usdown.aspx.cs" Inherits="BasicWeb.admin.usdown" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>底部区域</title>
<link href="style/default/style.css" rel="stylesheet" type="text/css" />
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="168"  class="downleft"  style="line-height:11px; table-layout:fixed">&nbsp;</td>
    <td class="downcenter"  style="line-height:11px; table-layout:fixed">&nbsp;</td>
    <td width="17"  class="downright"  style="line-height:11px; table-layout:fixed">&nbsp;</td>
  </tr>
</table>
</body>
</html>
