﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="departmentdetaild.aspx.cs" Inherits="BasicWeb.admin.analysis.departmentdetaild" %>


<%@ Register Assembly="AspNetPager" Namespace="Wuqi.Webdiyer" TagPrefix="webdiyer" %>
<%@ Register src="departmentdetailinfo.ascx" tagname="departmentdetailinfo" tagprefix="uc1" %>
<%@ Register src="../gdi/gdichart.ascx" tagname="gdichart" tagprefix="uc2" %>
<%@ Register src="departmentdetailnav.ascx" tagname="departmentdetailnav" tagprefix="uc3" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>指标详细-[<%=sDeptName %>]部门评价历史</title>
    <link href="../style/default/style.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery/jquery.js" type="text/javascript"></script>
    <script language="javascript" src="/admin/js/System.js" type="text/javascript"></script>
    <script language="javascript" src="/admin/My97DatePicker/WdatePicker.js" type="text/jscript"></script>
    <script  language="javascript" src="/editor/xheditor.js" type="text/javascript" ></script>
</head>
<body onload="win_onLoad();">
    <form id="Form1" method="post" runat="server"><div id="tbMain">
    <div class="divTbg">
      <div class="divTbgL"></div>
      <div class="divTbgInfo">
        <div class="divTbgTitle">部门评价</div>
      </div>
    </div>
    <div class="divTbgF"></div>
    <div class="divSearchBoth">
        <div class="divInfo">
            <div class="divInfoblack">
                <div class="divInfoTopList">
                    <div class="listLeft">
                        <div class="navsearchtitle">
                            部门评价详细</div>
                    </div>
                    
                    <uc3:departmentdetailnav ID="departmentdetailnav1" runat="server" />
                </div>
            </div>
        </div>
        <div class="divInfo">
            <div class="divSearch1">
                <div id="searchBox1" class="clearsearch1">
                
                <uc1:departmentdetailinfo ID="departmentdetailinfo1" runat="server" />
                <table width="100%" border="0" cellpadding="0" cellspacing="1" class="tablist" onMouseOver="changeto()"  onmouseout="changeback()">
    <tr class="tablisttr">
      <td align="center"  width="100" class="tablisttitle"> 时间段名称</td>
      <td align="center" width="40%" class="tablisttr"><%=sDateName%></td>
      <td align="center"  width="100" class="tablisttitle">评估时间</td>
      <td align="center" class="tablisttr"><%=UsToolsDateFormat(eDep.dCreateDate)%></td>
    </tr>
    <tr class="tablisttr">
      <td align="center" class="tablisttitle"> 文件上传</td>
      <td align="center" class="tablisttr">暂未上传</td>
      <td align="center" class="tablisttitle">评价总分</td>
      <td align="center" class="tablisttr">  <%=siEValue.ToString() %></td>
    </tr>
    <tr class="tablisttr">
      <td align="center" class="tablisttitle"> 评价留言</td>
      <td colspan="3" align="center">
          <asp:TextBox ID="txtInfo" runat="server" TextMode="MultiLine" Width="100%"  Height="80px"></asp:TextBox>
        </td>
    </tr>
   
  </table>
                   
              </div>
            </div>
        </div>
    </div>
    <div class="divInfo">
        <div class="divInfoblack">
            <div class="divInfoTopList">
                <div class="listLeft">
                    <div class="navtitle">
                        指标详细信息展示</div>
                </div>
                <div class="listRight">
                    <ul>
                         <li class="navstyle1">
                            <input type="checkbox" name="chkselect" id="chkselect" onclick="skySelectCheckList();"/>
                            <label for="chkselect">全选</label> </li>
                        
                        <li class="navstylelist">
                            <asp:LinkButton ID="LnkBList" runat="server" OnClick="SkyLnkBAMD_Click">列表</asp:LinkButton>
                        </li>
                        <li class="navstylereport">
                            <asp:LinkButton ID="LnkBReport" runat="server" OnClick="SkyLnkBAMD_Click">图表</asp:LinkButton>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="divInfo">
        <div class="divInfoContext">
            <asp:Repeater runat="server" ID="rptInfo">
                <HeaderTemplate>
                    <table width="100%" border="0" cellpadding="0" cellspacing="1" class="tablist" onmouseover="changeto()"  onmouseout="changeback()">
                        <tr class="tablisttitle">
                           <td width="4%">
                                序号
                            </td>
                            
                            <td>
                                指标大类
                            </td>
                            <td>
                                指标小类
                            </td>
                           
                            <td>
                                指标名称
                            </td>
                            
                            
                             <td>
                                考评细则
                            </td>
                       
                            <td>
                                最大分值
                            </td>

                            <td>
                                单项分
                            </td>
                            
                            <td>
                                备注说明
                            </td>
                        </tr>
                </HeaderTemplate>
                <ItemTemplate>
                    <tr class="tablisttr">
                        <td>
                           
                            <asp:Literal runat="server" ID="LiteralID" Text=' <%#Eval("ID1") %>'></asp:Literal>
                            <input type="hidden" id='txtIDType' runat="server" value='<%#Eval("IsDel")%>' />
                        </td>
                       
                         <td>
                            <%#Eval("BigIDName")%>
                        </td>
                        <td>
                            <%#Eval("SmallIDName")%>
                        </td>
                       
                        <td>
                            <%#UsToolsStringLengthTitle(Eval("EvalName").ToString(), 30)%>
                            <input type="hidden" id='txtName' runat="server" value='<%#Eval("EvalName")%>' />
                            
                        </td>
                       
                        <td>
                         <%#cHTMLUrlPJ("../advanced/evaluationdetailview.aspx?id=" + Eval("EvalID").ToString(), "考评细则")%>
                            
                        </td>
                        
                        <td>
                            <%#Eval("EMaxValue")%>
                        </td>
                       
                        <td>
                            <%#Eval("EValue1")%>
                        </td>
                        
                        <td>
                            <asp:TextBox runat="server" ID="txtItemNote" TextMode="MultiLine" Text='<%#Eval("EInfo1")%>' onkeyup="this.value = this.value.substring(0, 2000)" 
                            title="系统最多支持2000字符,超出将自动截断,因为有限制,在字符超过指定数量的时候,您将无法使用ctrl+a进行全选,这个时候,您可以使用点击ctrl键+鼠标左键文本框或者双击即可全选"></asp:TextBox>
                            
                           
                        </td>
                    </tr>
                </ItemTemplate>
                <FooterTemplate>
                 <tr class="tablisttitle">
                           <td width="4%">
                                
                            </td>
                            
                            <td>
                            </td>
                            <td>
                                
                            </td>
                           
                            <td>
                                
                            </td>
                            
                            
                             <td>
                                
                            </td>
                       
                            <td>
                                <% =siEMaxValue.ToString()%>
                            </td>
                                
                            <td>
                                <%=siEValue.ToString() %>
                            </td>
                            
                            <td>
                                
                            </td>
                        </tr>
                    </table></FooterTemplate>
            </asp:Repeater>
        </div>
        <div class="divInfoContext">
            <uc2:gdichart ID="gdichart1" runat="server" Visible="false"/>
        </div>
    </div>
    <div class="divInfo" style="display:none;">
        <webdiyer:aspnetpager id="Pager" runat="server" AlwaysShow="True" OnPageChanged="Pager_PageChanged"
         ShowCustomInfoSection="Left" ShowPageIndexBox="Always" showpageindex="False"
               CustomInfoHTML="共 <B>%PageCount%</B> 页，当前为第 <B>%CurrentPageIndex%</B> 页，每页 <B>%PageSize%</B> 条" 
               SubmitButtonText="" FirstPageText="首页" LastPageText="尾页" 
               LayoutType="Table" NextPageText="后一页" PrevPageText="前一页" ShowMoreButtons="False" 
               TextAfterPageIndexBox="页" TextBeforePageIndexBox="转到" 
               CustomInfoTextAlign="Left" HorizontalAlign="Right"></webdiyer:aspnetpager>
    </div>
    </div>
    </form>
</body>
</html>