﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="departmentsumnav.ascx.cs" Inherits="BasicWeb.admin.analysis.departmentsumnav" %>
<div class="listRight">
                        <ul>
                            <li class="navstyle">
                                <a href="departmentsumb.aspx?id=<%=sDeptID %>&dateid=<%=sDateID %>">[指标大类]</a>
                            </li>
                            <li class="navstyle">
                                <a href="departmentsums.aspx?id=<%=sDeptID %>&dateid=<%=sDateID %>">[指标小类]</a>
                            </li>
                            <li class="navstyle">
                                <a href="departmentsumd.aspx?id=<%=sDeptID %>&dateid=<%=sDateID %>">[详细指标]</a>
                            </li>
                        </ul>
                </div>