﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="departmentdetailnav.ascx.cs" Inherits="BasicWeb.admin.analysis.departmentdetailnav" %>
<div class="listRight">
                        <ul>
                            <li class="navstyle">
                                <a href="departmentdetailb.aspx?id=<%=sID1 %>">[指标大类]</a>
                            </li>
                            <li class="navstyle">
                                <a href="departmentdetails.aspx?id=<%=sID1 %>">[指标小类]</a>
                            </li>
                            <li class="navstyle">
                                <a href="departmentdetaild.aspx?id=<%=sID1 %>">[详细指标]</a>
                            </li>
                        </ul>
                </div>