﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="userdetailnav.ascx.cs" Inherits="BasicWeb.admin.analysis.userdetailnav" %>
<div class="listRight">
                        <ul>
                            <li class="navstyle">
                                <a href="userdetailb.aspx?id=<%=sID1 %>">[指标大类]</a>
                            </li>
                            <li class="navstyle">
                                <a href="userdetails.aspx?id=<%=sID1 %>">[指标小类]</a>
                            </li>
                            <li class="navstyle">
                                <a href="userdetaild.aspx?id=<%=sID1 %>">[详细指标]</a>
                            </li>
                        </ul>
                </div>