﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="userdetailinfo.ascx.cs" Inherits="BasicWeb.admin.analysis.userdetailinfo" %>
<link href="../style/default/style.css" rel="stylesheet" type="text/css" />
<table width="100%" border="0" cellpadding="0" cellspacing="1" class="tablist" onMouseOver="changeto()"  onmouseout="changeback()">
  <tr class="tablisttr">
    <td align="center"  width="100" class="tablisttitle"> 用户编号</td>
    <td align="center" width="40%" class="tablisttr"><%=entity.sUserID%></td>
    <td align="center"  width="100" class="tablisttitle">用户名称</td>
    <td align="center" class="tablisttr"><%=entity.sUserName%></td>
  </tr>
  
</table>
