﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="usersumnav.ascx.cs" Inherits="BasicWeb.admin.analysis.usersumnav" %>
<div class="listRight">
                        <ul>
                            <li class="navstyle">
                                <a href="usersumb.aspx?id=<%=sUserID %>&dateid=<%=sDateID %>">[指标大类]</a>
                            </li>
                            <li class="navstyle">
                                <a href="usersums.aspx?id=<%=sUserID %>&dateid=<%=sDateID %>">[指标小类]</a>
                            </li>
                            <li class="navstyle">
                                <a href="usersumd.aspx?id=<%=sUserID %>&dateid=<%=sDateID %>">[详细指标]</a>
                            </li>
                        </ul>
                </div>